
#quote {
  -webkit-transition: opacity 500ms linear;
  font-family:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 700;
  font-size: 30pt;
  text-align: center;
}
.hidden {
  opacity: 0;
}

